<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/oneRecipe.css}">
<link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
</head>
<body>
	<div id="one_wrap">
		
		<div id="title_box">
			<div class="title_img">
				<img alt="macaroon" th:src="@{/images/macaroon.jpg}">
				<p><i class="xi-profile"></i></p>
			</div>
			<div class="title_content">
				<p class="title">각양각색 마카롱 만들기</p>
			</div>
			
		</div>
	
	</div>
</body>
</html>