<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/oneRecipe.css}">
<link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
</head>
<body>
	<div id="one_wrap">
		
		<div id="title_box">
			<div class="title_img">
				<img alt="macaroon" th:src="@{/images/macaroon.jpg}">
				<b><i class="xi-eye-o"></i> 1,200</b>
				<p><i class="xi-profile"></i></p>
			</div>

			<div class="title_content">
				<p class="title">각양각색 마카롱 만들기</p>
				<ul class="subcontent">
					<li><i class="xi-users"></i> 1인분 </li>
					<li><i class="xi-alarm-o"></i> 20분 이내 </li>
				</ul>
			</div>
		</div>
	
		<div id="ingredient_box">
			<div class="ingre">
				<h3><i class="xi-cart"></i> 재료</h3>
				<p>양파, 파, 어쩌구, 소금, 간</p>
			</div>
		</div>
		
		<div id="video_box">		
			<div class="video">
				<h3><i class="xi-youtube-play"></i> 동영상 </h3>
				<div class="video-container">
					<iframe src="https://www.youtube.com/embed/KUi3kGl5Jbg" title="YouTube video player"></iframe>			
				</div>
			</div>
		</div>
		
		<div id="step_box">
			<div class="step_title">
				<h3><i class="xi-pen-o"></i> 조리과정 </h3>
			</div>
			<div class="cook_step" oncontextmenu="return false">
				<ul>
					<li>
						<img alt="macaroon" th:src="@{/images/macaroon.jpg}">
						<h3> 어떻게 어떻게 한다어떻게 어떻게 한다 어떻게 어떻게 한다 어떻게 어떻게 한다 어떻게 어떻게 한다  </h3>
					</li>
					<li>
						<img alt="macaroon" th:src="@{/images/macaroon.jpg}">
						<h3> 어떻게 어떻게 한다어떻게 어떻게 한다 어떻게 어떻게 한다 어떻게 어떻게 한다 어떻게 어떻게 한다  </h3>
					</li>
					<li>
						<img alt="macaroon" th:src="@{/images/macaroon.jpg}">
						<h3> 어떻게 어떻게 한다어떻게 어떻게 한다 어떻게 어떻게 한다 어떻게 어떻게 한다 어떻게 어떻게 한다  </h3>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="cc">
				<p>저작자의 사전 동의 없이 이미지 및 문구의 무단 도용 및 복제를 금합니다.</p>
		</div>
	</div>
</body>
</html>