<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/recipeWrite.css}">
</head>
<body>
	<div id="write_wrap">
		<form>
			<div class="title_box">
			
				<div class="title_img">
					<input type="file" id="image" name='file1' accept="image/*" style='display: none;' onchange="setThumbnail(event);"/> 
					
					<div id="image_container">
						<img th:src="@{/images/upload.png}" id="titleimg" border='0' onclick='document.all.file1.click(); document.all.file2.value=document.all.file1.value'>  
					</div>

				</div>
				<div class="title_content">
					<label>제목</label>
					<input type="text" name="recipe_title" id="recipe_title"> <br>
					
					<label>동영상</label>
					<input type="text" name="recipe_video" id="recipe_video" placeholder="영상 주소 (Youtube만 가능)">
					<br>
					
					<label>요리 정보</label>
					<span>인원</span>
					<select>
						<option value="1인분">1인분</option>
						<option value="2인분">2인분</option>
						<option value="3인분">3인분</option>
						<option value="4인분">4인분</option>
						<option value="5인분">5인분</option>
						<option value="6인분 이상">6인분 이상</option>
					</select>
					
					<span>시간</span>
					<select>
						<option value="15분 이내">15분 이내</option>
						<option value="30분 이내">30분 이내</option>
						<option value="45분 이내">45분 이내</option>
						<option value="1시간 이내">1시간 이내</option>
						<option value="2시간 이내">2시간 이내</option>
						<option value="2시간 이상">2시간 이상</option>
					</select>
						
				</div>
			</div>
			<div id="ingredient_box">
			
			</div>
		</form>
	</div>
	
	<script th:src="@{/js/recipeWrite.js}"></script>
</body>
</html>